In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np
import requests
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hambantota,LK,2021-01-09 05:15:25,6.1241,81.1185,77.00,100,90,2.30
1,1,Pouembout,NC,2021-01-09 05:15:25,-21.1333,164.9000,84.27,77,98,2.53
2,2,Pangnirtung,CA,2021-01-09 05:15:25,66.1451,-65.7125,6.33,77,100,0.04
3,3,Hermanus,ZA,2021-01-09 05:15:26,-34.4187,19.2345,69.01,84,5,0.04
4,4,Nome,US,2021-01-09 05:15:26,64.5011,-165.4064,-0.40,71,90,8.05

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
max_temp

0      77.00
1      84.27
2       6.33
3      69.01
4      -0.40
       ...
560    82.24
561    33.01
562    84.20
563    69.04
564    17.60
Name: Max Temp, Length: 565, dtype: float64

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))